.ant-ribbon.armor-paintjob-ribbon {
  background-color: rgba(255, 255, 255, 0.8);
}

.armor-paintjob-ribbon .ant-ribbon-corner {
  color: rgba(255, 255, 255, 0.6);
}

.armor-paintjob-ribbon .ant-ribbon-text {
  color: rgba(42, 42, 42, 1);
  font-weight: bold;
}
