body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Toast Styles */

.Toastify__toast {
  justify-content: center;
}

.Toastify__close-button {
  visibility: hidden;
}

/* Scroll Bar Styles */

:-webkit-any(body) {
  overflow: overlay;
  width: 100% !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: 0;
  -webkit-box-shadow: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  box-shadow: none;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Loader styling */

.loading {
  height: 8px;
}

/* Progress Bar Mobile Clipping Fix */

.ant-progress-outer {
  width: 99% !important;
}
